<a href="https://colab.research.google.com/github/amreeshpal18-web/Python_Practice/blob/main/if_else.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### `Problem 1`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [27]:
a1, a2, a3 = map(int, input("Enter three angles separated by spaces: ").split())
if (a1+a2+a3) == 180:
  print("Angles can form a triangle")
else:
  print("Can not form a triangle")

Enter three angles separated by spaces: 20 30 40
Can not form a triangle

### `Problem 2`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [28]:
cost=int(input("Enter cost price: "))
sell=int(input("Enter selling price: "))
if sell>cost:
  print("Profit")
else:
  print("Loss")

Enter cost price: 40
Enter selling price: 60
Profit

### `Problem 3`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [29]:
print("""
1. cm to ft
2. km to miles
3. USD to INR
4. exit
""")
choice=int(input("Enter your choice: "))
if choice==1:
  cm=int(input("Enter cm: "))
  ft=cm*0.0328
  print("Answer", ft )
  print("Program Ended")
elif choice==2:
  km=int(input("Enter km: "))
  miles=km*0.621
  print("Answer", miles )
  print("Program Ended")
elif  choice==3:
  usd=int(input("Enter usd: "))
  inr=usd*89
  print("Answer", inr )
  print("Program Ended")
elif choice==4:
  print("Program Ended")
else:
  print("Invalid choice")

1. cm to ft
2. km to miles
3. USD to INR
4. exit

Enter your choice: 3
Enter usd: 5
Answer 445
Program Ended


### `Problem 4` - Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [22]:
n = int(input("Enter number of terms: "))
a = 0
b = 1
for i in range(n):
    print(a, end=" ")
    c = a + b
    a = b
    b = c

Enter number of terms: 6
0 1 1 2 3 5

### `Problem 5` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [23]:
n=5
fact=1
for i in range(1,n+1):
  fact*=i
print(fact)

120

### `Problem 6` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [24]:
n=int(input("enter a number "))
n=str(n)
n=n[::-1]
n=int(n)
print(n)

enter a number 5
5

### `Problem 7`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And **don't use for loop** to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [25]:
n=int(input("Enter a number"))
sum=0
i=1
while i<=n:
  if sum > 300:
    print("Sum exceeded 300, stopping further calculation.")
    break
  if i%5!=0:
    sum+=i
  i+=1
print(f"The final sum is: {sum}")

Enter a number5
The final sum is: 10

###`Problem 8`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [11]:
for i in range(2000,3201):
  if i%7==0 and i%5!=0:
    print(i,end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

###`Problem 9`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [12]:
for i in range(1000,3001):
  i=str(i)
  for j in i:
    if int(j)%2!=0:
      break
  else:
    print(i,end=" ")

2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888

###`Problem 110`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [15]:
import math
lr=int(input("Enter lower range "))
ur=int(input("Enter upper range "))
print("Armstrong Numbers are")
for num in range(lr,ur+1):
  temp=num
  sum=0
  count_digit=len(str(num))
  while temp>0:
    digit=temp%10
    sum+=math.pow(digit,count_digit)
    temp//=10
  if sum==num:
    print(int(num))

Enter lower range 1
Enter upper range 400
Armstrong Numbers are
1
2
3
4
5
6
7
8
9
153
370
371

###`Problem 11`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [17]:
import math

H = int(input("Enter hour: "))
M = int(input("Enter minute: "))

# Step 1: Calculate angles
hour_angle = (H * 30) + (M * 0.5)
minute_angle = M * 6

# Step 2: Find absolute difference
angle = abs(hour_angle - minute_angle)

# Step 3: Find minimum angle
min_angle = min(angle, 360 - angle)

# Step 4: Print floor value
print(math.floor(min_angle))

Enter hour: 9
Enter minute: 0
90